@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --green: #11c05a;
    --dark-green: #009e42;
    --white: rgb(216, 216, 216);
    --gray: #3f3f3f;
    --black: #0d0221;

    --font-1: "Courier New", Courier, monospace;
    --font-2: "Calibre", "Inter", "San Francisco", "SF Pro Text", sans-serif;

    --size-m: 1.2rem;
    --size-l: 1.8rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    width: 100%;
    background: #c93384;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 1rem var(--gray);
}

.navbar-logo{
    margin: 0.5rem;
    color: var(--white);
    font-family: var(--font-1);
    font-size: var(--size-l);
}

.navbar-button{
    margin: 0.5rem;
    background: transparent;
    border: none;
    display: none;
}

.navbar-button i{
    font-size: var(--size-l);
    color: var(--white);
    transition: 0.5s;
}

.button-active{
    transform: rotate(90deg);
    transition: 1s;
}

.navbar-list{
    list-style: none;
}

.navbar-item{
    margin: 0 0.5rem;
    display: inline-block;
}

.navbar-link{
    padding: 0.5rem 1rem;
    display: block;
    text-decoration: none;
    color: var(--white);
    font-family: var(--font-2);
    font-size: var(--size-m);
    font-weight: 600;
    transition: 0.5s;
}

.navbar-link:hover{
    color: var(--green);
}

.navbar-contact{
    background: var(--green);
    border-radius: 5px;
}

.navbar-contact:hover{
    background: var(--dark-green);
    color: var(--white);
}

@media screen and (max-width: 800px) {
    .navbar-button{
        display: block;
    }

    .navbar-list{
        width: 100%;
        max-height: 0;
        text-align: center;
        overflow: hidden;
        visibility: hidden;
        transition: 0.5s;
    }

    .navbar-list.active{
        visibility: visible;
    }
    
    .navbar-item{
        display: block;
        margin: 3rem;
    }
}

header{
    background-color: #ffc1ff;
}

.Full{
    text-align: center;
    padding: 8px;
    padding-bottom: 15px;
}

.me_h4{
    background-color: #ffc8eb;
    display: inline-block;
    text-align: center;
    padding: 10px;
    height: auto;
    width: auto;
    margin: 10px;

    border-top: solid;
    border-bottom: solid;
    border-right: solid;
    border-left: solid;

    border-radius: 10px;
    border-color: #c93384;
}

.me_p_img{
    background-color: #fff;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 15px;
    display: block;
    padding: 10px;
    height: 256px;
    width: 502px;

    border-top: solid;
    border-bottom: solid;
    border-right: solid;
    border-left: solid;

    border-radius: 10px;
    border-color: #c93384;
}

.me_p{
    background-color: #fff;
    display: inline-block;
    text-align: center;
    padding: 10px;
    height: auto;
    width: 800px;
    margin: 10px;

    border-top: solid;
    border-bottom: solid;
    border-right: solid;
    border-left: solid;

    border-radius: 10px;
    border-color: #c93384;
}

@media screen and (max-width: 800px) {
    .me_p{
    background-color: #fff;
    display: inline-block;
    text-align: center;
    padding: 10px;
    height: auto;
    width: auto;
    margin: 10px;

    border-top: solid;
    border-bottom: solid;
    border-right: solid;
    border-left: solid;

    border-radius: 10px;
    border-color: #c93384;
    }
}

.pie-pagina{
    width: 100%;
    background: #e44f9c;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #c93384;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #c93384;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}