@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --green: #11c05a;
    --dark-green: #009e42;
    --white: rgb(216, 216, 216);
    --gray: #3f3f3f;
    --black: #0d0221;

    --font-1: "Courier New", Courier, monospace;
    --font-2: "Calibre", "Inter", "San Francisco", "SF Pro Text", sans-serif;

    --size-m: 1.2rem;
    --size-l: 1.8rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    width: 100%;
    background: #1c1d25;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 1rem var(--gray);
}

.navbar-logo{
    margin: 0.5rem;
    color: var(--white);
    font-family: var(--font-1);
    font-size: var(--size-l);
}

.navbar-button{
    margin: 0.5rem;
    background: transparent;
    border: none;
    display: none;
}

.navbar-button i{
    font-size: var(--size-l);
    color: var(--white);
    transition: 0.5s;
}

.button-active{
    transform: rotate(90deg);
    transition: 1s;
}

.navbar-list{
    list-style: none;
}

.navbar-item{
    margin: 0 0.5rem;
    display: inline-block;
}

.navbar-link{
    padding: 0.5rem 1rem;
    display: block;
    text-decoration: none;
    color: var(--white);
    font-family: var(--font-2);
    font-size: var(--size-m);
    font-weight: 600;
    transition: 0.5s;
}

.navbar-link:hover{
    color: var(--green);
}

.navbar-contact{
    background: var(--green);
    border-radius: 5px;
}

.navbar-contact:hover{
    background: var(--dark-green);
    color: var(--white);
}

@media screen and (max-width: 800px) {
    .navbar-button{
        display: block;
    }

    .navbar-list{
        width: 100%;
        max-height: 0;
        text-align: center;
        overflow: hidden;
        visibility: hidden;
        transition: 0.5s;
    }

    .navbar-list.active{
        visibility: visible;
    }
    
    .navbar-item{
        display: block;
        margin: 3rem;
    }
}

body{
    background-color: #1c1d25;
}

.Contenedor{
    height: 50vh;
    margin: 5%;
    padding: 7px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #e0e0e0;
}

p{
    color: #818181;
}

.paginas{
    margin: 3px;
}

.btn{
    margin: 5px auto auto 0px;
    color: #ffffff;
    font-weight: bold;
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    outline: 0;

    border-radius: 17px;
}

.btn a {
    color:#ffffff;
    text-decoration:none;
}

.img_l{
    margin-right: 5px;
}

.SM{
    background-color: #734a91;
}

.CD{
    background-color: #c93384;
}

.OG{
    background-color: #0a5b25;
}