@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');


* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
}

body{
    background: #0e153a;
    text-align: center;
}

h4{
    color: #e2f3f5;
}

p{
    color: #e2f3f5;
    padding: 66px, 20px, 30px;
}

.perfil{
    margin: 5px;
}

.titulo{
    color: black;
    padding: 2.5px;
}

.descripción{
    color: #e2f3f5;
    padding: 2.5px;
}

.texto{
    background-color: #3d5af1;
    display: inline-block;
    text-align: center;
    padding: 10px;
    height: 87px;
    width: 650px;
    margin: 10px;
    border-radius: 10px;
}

.texto_2{
    background-color: #3d5af1;
    display: inline-block;
    text-align: center;
    padding: 10px;
    height: 42px;
    width: 650px;
    margin: 8px;
    border-radius: 10px;
}

.block_social{
    margin: auto;
    display: block;
    padding: 5px;
    width: 150px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    font-size: smaller;
}

.icon_list{
    margin-right: 5px;
}

.youtube_block{
    background-color: red;
    color: white;
}

.fb_block{
    background-color: rgb(59,89,152);
    color: white;
}

.insta_block{
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    color: white;
}

.twitch_block{
    background-color: rgb( 100, 65, 165);
    color: white;
}

.discord_block{

    background-color: rgb(114,137,218);
    color: white;
}

.tiktok_block{
    background-color: rgb(1,1,1);
    color: white;
}
